.navbar-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.navbar-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s ease;
}
.navbar-exit {
  opacity: 1;
  transform: translateY(0);
}
.navbar-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.7s ease;
}
