@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Caveat:wght@400..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');

@theme{
    --font-sans:'Bitcount Grid Double',sans-serif

}
body{
    font-family: var(--font-sans);
}